@import './fonts/Poppins/font.css';

:read-only {
    /* --ext-prime: #173753;
    --ext-sec: #6daedb; */

    --ext-prime: #121212;
    --ext-sec: #424242;

    --font-main: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}


body {
    font-family: var(--font-main);
    font-size: 16px;
    color: #fff;
    background: var(--ext-prime);
    padding: 36px;
    width: 420px;
    overflow: hidden;
}

.ext-pnl-container {
    position: relative;
}

/* --------- init value section ---------------------------- */

.ext-pnl-container .def-size-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
}

.ext-pnl-container .def-size-wrap .size-box {
    display: flex;
    flex-direction: column;
}

.ext-pnl-container .def-size-wrap .info-icon-wrap{
    display: inline-block;
    margin-left: 8px;
    filter: invert();
}

.ext-pnl-container .def-size-wrap .size-box .label-wrap .info-icon {
    height: 24px;
}

/* ---------------------------- Input ----------------------------- */

.ext-pnl-container .label-wrap {
    display: flex;
    align-items: center;
    margin: 8px 0;
    font-size: .875em;
}

.ext-pnl-container .input-wrap input {
    outline: none;
    background: var(--ext-sec);
    border: none;
    color: #fff;
    padding: 8px;
    font-size: 1.2em;
    transition: .3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.ext-pnl-container .size-box .input-wrap input {
    width: 190px;
}

.ext-pnl-container .size-box .input-wrap input[type=number]:focus {
    border-color: transparent;
    outline: 3px solid #fff;
}

.ext-pnl-container .input-px-box .input-wrap input[type=number]{
    border: none;
    width: 100%;
}

.ext-pnl-container .input-px-box .input-wrap {
    display: flex;
    transition: .3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.ext-pnl-container .input-px-box .input-wrap.focused {
    border-color: transparent;
    outline: 3px solid #fff;
}

/* .ext-pnl-container .input-px-box .input-wrap.focused .radio-entry.radio-entry.selected{
    background: var(--ext-sec);
    color: #000;
} */

.ext-pnl-container .input-px-box .radio-wrap {
    display: flex;
    align-items: center;
    position: relative;
}

.ext-pnl-container .input-px-box .radio-wrap .radio-entry {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    background: var(--ext-sec);
    width: 34px;
}

.ext-pnl-container .input-px-box .radio-wrap .radio-entry.rad-rem {
    border-right: none;
}

.ext-pnl-container .input-px-box .radio-wrap .radio-entry input[type=radio] {
    position: absolute;
    width: 32px;
    height: 32px;
    opacity: 0;
    cursor: pointer;
}

.ext-pnl-container .input-px-box .radio-wrap .radio-entry.selected {
    background: #fff;
    color: #000;
}

.ext-pnl-container .input-px-box {
    display: flex;
    flex-direction: column;
}

.ext-pnl-container .input-px-box .set-btn-wrap {
    text-align: right;
    margin-top: 24px;
}

.ext-pnl-container .set-btn {
    outline: none;
    border: none;
    padding: 8px;
    width: 150px;
    border-radius: 99999999px;
    background: var(--ext-sec);
    color: #fff;
    font-weight: 500;
    font-size: 1.1em;
    cursor: pointer;
}

.ext-pnl-container .set-btn.disabled {
    visibility: hidden;
}

.ext-pnl-container .set-btn:hover {
    opacity: .8;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* ------------------------------ output ------------------------------------- */

.ext-pnl-container .output-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px;
}

.ext-pnl-container .output-box .output-entry {
    display: flex;
    align-items: center;
    font-size: 3em;
    font-weight: 700;
}

.ext-pnl-container .output-box .output-entry .ans-out {
    display: inline-block;
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 16px;
}

.ext-pnl-container #err-msg {
    color: #ff0033;
    font-size: 0.875em;
}